.chatInputForm {
    width: 100%;
}

.chatInput .chatInputIcon {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.chatInputIcon .chatInputBtn {
    padding: 7px;
    line-height: 40px;
    box-shadow: none;
    font-size: 22px;
    border-radius: 5px;
    color: #797c8c;
    background-color: transparent;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
}

.chatInputIcon .chatInputBtn:nth-child(even) {
    margin: 0 10px;
}

#messageInput {
    min-height: 46px;
    border-radius: 6px;
    outline: 0;
    border: 0;
}